<!-- #######  THIS IS A COMMENT - Visible only in the source editor #########-->
<p style="text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://www.buquebus.com/static/img/buquebus-vector-logo.svg" alt="Buquebus" width="200" height="71" /></p>
<p style="text-align: center;">Departamento de Compras</p>
<p style="text-align: center;">Orden N&deg;:</p>
<p style="text-align: center;">&nbsp;</p>
	<table style="height: auto; width: 750px; background-color: #fff2cc; margin-left: auto; margin-right: auto;" border="1" data-darkreader-inline-bgcolor="">
<tbody>
<tr>
<td style="width: 367px;">Para: TECNOGRIF<br />At. Gaspar<br />Presupuesto ref.:<br />Ticket interno ref.</td>
<td style="width: 367px;">Fecha: 20/11/2020<br />De: Rosana Pereyra<br />4316-6478<br />rpereyra@buquebus.com</td>
</tr>
<tr>
<td style="width: 367px;">Facturar a: Los Cipreses S.A.<br />30-60508618-3</td>
<td style="width: 367px;">Direcci&oacute;n de Entrega: Av Antartida Argentina 821</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="height: 572px; margin-left: auto; margin-right: auto;" border="1" width="750">
<tbody>
<tr>
<td style="width: 734px;">&nbsp;Orden de compra por el siguiente material:<br />Asiento Marina herraje cromo derpla<br />Precio por unidad: $5900<br />Cantidad: 1</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />
<p style="text-align: center;"><span class="fontstyle0">Anibal Argomedo<br /></span><span class="fontstyle2">Gerente de Departamento Compras<br />BUQUEBUS</span></p>
